@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';


@theme {
    --font-main: "Poppins", sans-serif;
    --color-font-light: oklch(10.81% 0.015 37.87);
    --color-background: oklch(97.02% 0.000 89.88);
    --color-primary: oklch(52.88% 0.179 23.51);
    --color-primary-60: oklch(35% 0.179 23.51);
    --color-primary-hover: oklch(42% 0.179 23.51);
    --color-secondary: oklch(88.42% 0.107 106.64);
    --color-accent: oklch(82.30% 0.148 126.12);

    --color-font-dark: oklch(98.27% 0.006 31.05);
    --color-background-dark: oklch(14.48% 0.000 89.88);
    --color-primary-dark: oklch(58.58% 0.179 21.97);
    --color-secondary-dark: oklch(54.19% 0.104 107.37);
    --color-accent-dark: oklch(63.09% 0.145 127.77);
}

@custom-variant dark (&:where(.dark, .dark *));

select {
    appearance: none;
    border: .5px solid black;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

select:focus {
    border-color: var(--color-primary);
}

select::-ms-expand {
    display: none;
    /* Hide dropdown arrow in IE */
}


select:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Custom dropdown arrow */
select {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23666666'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 30px;
}

/* Firefox: thin scrollbar for all scrollable elements */
* {
    scrollbar-width: thin;
    scrollbar-color: lightgray transparent;
}

/* Chrome, Edge, Safari: thin scrollbar for all scrollable elements */
*::-webkit-scrollbar {
    width: 2px;
    /* vertical scrollbar */
    height: 2px;
    /* horizontal scrollbar */
}

*::-webkit-scrollbar-track {
    background: transparent;
    /* track */
}

*::-webkit-scrollbar-thumb {
    background-color: lightgray;
    /* your color */
    border-radius: 2px;
    /* rounded edges */
}

/* Optional hover effect */
*::-webkit-scrollbar-thumb:hover {
    background-color: oklch(60% 0.179 23.51);
    /* slightly brighter on hover */
}